# Ignorer le répertoire .venv
.venv/

# Ignorer les fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorer les fichiers d'environnement
.env
.venv
env/
venv/

# Ignorer les fichiers de configuration IDE
.vscode/
.idea/